body {
  background-color: #FFF5D0;
}

.flexCenter {
 display: flex;
 row-gap: 2rem;
 justify-content: center;
 align-items: center;
 flex-wrap: wrap;
}
.flexStart {
 display: flex;
 justify-content: flex-start;
 align-items: center;
}

.flexEnd {
 display: flex;
 justify-content: flex-end;
 align-items: center;
}

.flexColCenter {
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
}
.flexColStart {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: flex-start;
}
.flexColEnd {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: flex-end;
}

.paddings{
 padding: 25px 50px;
}

.innerWidth{
 width: 100%;
}

.flex-item-right{
 display: flex;
 row-gap: 2rem;
 justify-content: right ;
}

.flex-item-left{
 display: flex;
 row-gap: 2rem;
 justify-content: left ;
}

.button {
 font-weight: 400;
 font-size: 16px;
 padding: 0.5rem 1.2rem;
 color: white;
 background: rgb(76, 177, 240);
 border: none;
 border-radius: 4px;
 transition: all 300ms ease-in;
}
.button:hover {
 cursor: pointer;
 transform: scale(1.1);
}

.search-bar {
 background-color: white;
 border-radius: 1rem;
 border: 3px solid rgba(120, 120, 120, 0.374);
 padding: 0.3rem 3.5rem; 
 width: 100%;
 display: flex;
 justify-content: space-around; 
 align-items: center; 
}
.search-bar > input {
 flex: 1; 
 border: none;
 outline: none;
}
.search-bar > button {
 margin-left: 1rem; 
}


.a-link{
 color:white;
 text-decoration-line: none;
}
@media (min-width: 1536px){
 .innerWidth{
   /* max-width: 1280px; */
   max-width:1000px;
   margin: auto;
 }
}

@media (min-width: 100px){
 .paddings{
   padding: 4rem;
 }
}
.flex-container {
 display: flex;
 flex-wrap: wrap;
}

.flex-item-left {
 flex: 50%;
}

.flex-item-right {
 flex: 50%;
}

/* Responsive layout - makes a one column layout (100%) instead of a two-column layout (50%) */
@media (max-width: 800px) {
 .flex-item-right, .flex-item-left {
   flex: 100%;
 }
}