.about-container{
    padding:10rem;
    /* background-color: rgb(255, 242, 220); */
    background-color: white;
}
.about-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align:center;
    justify-content: center;
}
.menu{
    font-size: 25px;
    color: rgba(0, 0, 0, 0.591);
    font-family:'sans-serif';
}
.content{
    font-weight: 100;
}


