body {
    margin: 0;
    background-color: #0F222D;
    font-family: Arial, sans-serif;
}

.r-wrapper {
    z-index: 99;
    position: sticky;
    top: 0;
    background-color: #0F222D;
}

.r-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem; /* Add padding for better spacing */
}

.menu {
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column; /* Change to column for small screens */
    gap: 1rem; /* Adjust gap for better spacing */
}

.menu-left {
    flex: 1;
    background-color: #FFF5D0;
    padding: 2rem;
    padding-right: 30rem;
    border: none;
     border-radius: 7px; 
    position:relative
}

.menu-right {
    flex: 1;
    position: absolute;
    z-index: 10;
    top: 18%;
    left:50%;
}

.content {
    text-align: center; /* Center content for small screens */
    font-size: 16px;
    font-weight: 350;
}

.title {
    font-size: 35px;
    font-weight: 500;
    padding-left: 1rem; /* Adjust padding for better spacing */
    padding-bottom: 0.5rem;
}

@media (max-width: 768px) {
    .menu {
        flex-direction: row;
        align-items: center;
    }

    .menu-left {
        flex: none; /* Reset flex property for better sizing on small screens */
        width: 100%; /* Occupy full width */
        margin-bottom: 1rem; /* Add margin for better spacing */

    }

    .menu-right {
        flex: none;
        width: 100%;
    }
}