 .next-button{
    font-weight: 400;
    font-size: 16px;
    padding: 0.4rem 1rem;
    color: white;
    background: rgb(76, 177, 240);
    border: none;
    border-radius: 4px;
    transition: all 300ms ease-in;
    width:200px;
}
/*
#map{
    height:50vh;
    width:50vw;
}

.location{
    display: grid;
    align-items: row;
} */

/* AddLocation.css */

.location {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  
  .form-map {
    width: 100%;
    margin-left:20%;
    margin-top: 10%;
  }
  
  #map {
    height: 50vh;
    width: 100%;
    margin-top: 10%;
  }

  .input-fields{
    padding:8px;
  }
  
  .input-element{
    width:350px;
  }
  @media (max-width: 768px) {
    /* Adjust layout for smaller screens */
    .location {
      grid-template-columns: 1fr;
    }
  }
  
