.home-wrapper{
    /* background-color: #0F222D ; */
    position: relative;
    padding-bottom: 2rem;
}
.home-container{
    justify-content: space-between;
    align-items: flex-end;
}
.logo{
    position: left;
}

body{
    background-color:#0F222D;
}

.centre{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
}

.background-container {
    position: relative;
    background-image: url('https://res.cloudinary.com/duwadnxwf/image/upload/v1703055605/2_mq3fyt.jpg'); /* Replace with the path to your background image */
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
    height: 580px; 
    color: white; /* Set text color to contrast with the background */
    display:flex;
    flex-direction: column;
    align-items: center;

}
      

.text-on-img{
    position: relative;
    z-index: 1;
    font-weight: 600;
    font-size: 3.8rem;
    line-height: 4rem;
    color: #FFF5D0;
    padding-top: 9rem;
}

.text-on-img-mini{
    position: relative;
    z-index: 1;
    font-weight: 300;
    color: #FFF5D0;
    padding-top: 0.5rem;
    padding-right: 6.5rem;

}

