/* body{
    background-color: #0F222D;
  } */
  
  .background-container {
      background-image: url('https://res.cloudinary.com/duwadnxwf/image/upload/v1704955893/skyscrapers-450793_1280_qu6gxv.jpg'); /* Replace with the path to your background image */
      background-size: cover;
      background-position: center;
      box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
      height: 645px; 
      text-align: justify;
  }
   
  
  .text-on-img{
      position: relative;
      z-index: 1;
      font-weight: 600;
      font-family:'Franklin Gothic Medium';
      font-size: 6.5rem;
      line-height: 6rem;
      color:white;
      padding-top: 10rem;
  }
  
  .text-on-img-mini{
      position: relative;
      z-index: 1;
      font-weight: 400;
      font-size: 18px;
      color: white;
      padding-top: 0.5rem;
  }
  
  @media (max-width: 768px) {
      .text-container{
          position: inherit;
      }
      .background-container{
          height: 650px;
      }
      
  }
  
  @media (max-width:490px) {
      .text-on-img{
          font-size: 3.8rem;
          line-height: 3.5rem;
          padding-left: 2rem;
      }
      .text-on-img-mini{
          font-weight: 300;
          padding-left: 2rem;
      }
  }
  
  