.success-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff; /* Set your desired background color */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 20px 20px rgba(3, 3, 3, 0.326);
  z-index: 999;
  text-align: center;
}

.success-popup p {
  margin: 0;
  font-size: 20px;
  color: #22bb33; /* Set your desired text color */
}